.app {
  min-height: 100vh;
  background-color: var(--page);
}

.contentWrapper {
  max-width: var(--layout-canvas-width);
  margin: 0 auto;
  padding: 0 var(--layout-gutter);
}

.main {
  max-width: var(--layout-canvas-width);
  margin: 0 auto;
  padding: 0 var(--layout-gutter);
}
